.container {
    border: 1px solid gray;
    height: 400px;
}

.relative {
    border: 1px solid green;
    width: 200px;
    height: 100px;
    position: relative;
    top: 10px;
    left: 50px;
}

.absolute {
    border: 1px solid red;
    width: 300px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 50px;
}